<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo reference="${imu_name}_link">
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>base_footprint</bodyName>
      <topicName>${imu_name}/data</topicName>
      <serviceName>${imu_name}_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>50.0</updateRate>
    </plugin>
  </gazebo>
  <gazebo reference="${imu_name}_link">
      <gravity>true</gravity>
      <sensor name="${imu_name}" type="imu">
        <always_on>true</always_on>
        <update_rate>50</update_rate>
        <visualize>true</visualize>
        <topic>__default_topic__</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>${imu_name}/data</topicName>
          <bodyName>${imu_name}_link</bodyName>
          <updateRateHZ>30.0</updateRateHZ>
          <gaussianNoise>0.001</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <frameName>${imu_name}_link</frameName>
          <initialOrientationAsReference>true</initialOrientationAsReference>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
  </gazebo>
  <gazebo>
    <plugin name="gazebo_ros_gps_plugin" filename="libhector_gazebo_ros_gps.so">
      <updateRate>4.0</updateRate>
      <bodyName>${gps_name}_link</bodyName>
      <frameId>${gps_name}_link</frameId>
      <topicName>/gps/fix</topicName>
      <velocityTopicName>/gps/fix_velocity</velocityTopicName>
      <referenceLatitude>${gps_latitude_reference}</referenceLatitude> 
      <referenceLongitude>${gps_longitude_reference}</referenceLongitude> 
      <referenceHeading>${gps_heading_reference}</referenceHeading> 
      <referenceAltitude>${gps_altitude_reference}</referenceAltitude> 
      <offset>0 0 0</offset>
      <drift>0.001 0.001 0.001</drift>
      <gaussianNoise>0.05 0.05 0.05</gaussianNoise>
      <velocityDrift>0.001 0.001 0.001</velocityDrift>
      <velocityGaussianNoise>0.1 0.1 0.1</velocityGaussianNoise>
    </plugin>
  </gazebo>

  <gazebo reference="${lidar_name}_link">
    <sensor type="ray" name="lidar_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-1.570796</min_angle>
            <max_angle>1.570796</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>${lidar_name}/laser/scan</topicName>
        <frameName>${lidar_name}_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>
